@import url("https://fonts.googleapis.com/css?family=Montserrat:400,800");

body {
  font-family: "Montserrat", sans-serif;
  /* text-align: center; */
}

body > div {
  display: flex;
  flex-direction: row;
}

.form {
  text-align: center;
  justify-content: center;
}

label {
  font-size: xx-large;
  margin-bottom: 10px;
}

select {
  width: 80%;
  height: 50px;
  border: 1px solid #ccc;
  border-radius: 5px;
  padding-left: 5px;
  padding: 10px;
  font-size: 18px;
  font-family: "Open Sans", sans-serif;
  color: #555;
  background-color: rgb(255, 255, 255);
  background-image: none;
  border: 1px solid rgb(41, 18, 18);
}

select > option {
  font-size: 18px;
  font-family: "Open Sans", sans-serif;
  color: #555;
  background-color: rgb(247, 247, 247);
  background-image: none;
  font-size: 18px;
  height: 50px;
  padding: 15px;
  border: 1px solid rgb(41, 18, 18);
}

#question_details {
  width: 60%;
  height: 50%;
  margin-top: 20px;
  border-radius: 10px;
  border-width: 2px;
  border-color: red;
  border-style: solid;
}

button {
  margin-top: 50px;
  background-color: #4caf50;
  /* Green background */
  color: white;
  /* Text color */
  border: none;
  /* No border */
  padding: 12px 24px;
  /* Padding */
  font-size: 16px;
  /* Font size */
  border-radius: 4px;
  /* Rounded corners */
  cursor: pointer;
  /* Cursor on hover */
  transition: background-color 0.3s ease;
  /* Smooth transition on hover */
}

button:hover {
  background-color: #3e8e41;
  /* Darker green on hover */
}

/* The Modal (background) */
.modal {
  display: none;
  /* Hidden by default */
  position: fixed;
  /* Stay in place */
  z-index: 1;
  /* Sit on top */
  padding-top: 100px;
  /* Location of the box */
  left: 0;
  top: 0;
  width: 100%;
  /* Full width */
  height: 100%;
  /* Full height */
  overflow: auto;
  /* Enable scroll if needed */
  background-color: rgb(0, 0, 0);
  /* Fallback color */
  background-color: rgba(0, 0, 0, 0.4);
  /* Black w/ opacity */
}

/* Modal Content */
.modal-content {
  background-color: #fefefe;
  margin: auto;
  padding: 20px;
  border: 1px solid #888;
  width: 80%;
}

/* The Close Button */
.close {
  color: #aaaaaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}

span > li {
  margin-top: 20px;
}
