<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link th:href="@{/css/configure-account.css}" rel="stylesheet" />
    <title>Interqu - Configure Account</title>
</head>

<body>
    <div class="container">
        <form id="form" onsubmit="return false;">
            <div class="question active" id="q-2">
                <h2>Welcome ${name},</h2>
                <h3>Please read the instructions carefully</h3>
                <button id="next-btn">Next</button>
            </div>
            <div class="question" id="q-1">
                <h2>You are testing Interqu Software.</h2>
                <h3> <br />Fill out the following form, and play around with this
                    software before May 25th. <br /> By doing so, you will receive free premium for 1 month. </h3>
                <button id="prev-btn" type="button">Previous</button>
                <button id="next-btn">Next</button>
            </div>
            <div class="question" id="q0">
                <h2>By submitting this form and using this software, you aree to:</h2>
                <h3> <br />Not steal this idea, or make any competitors.<br />Give truthful opinions when asked </h3>
                <button id="prev-btn" type="button">Previous</button>
                <button id="next-btn">Next</button>
            </div>
            <div class="question" id="q1">
                <h2>Great! Lets get started<br />What is your age?</h2>
                <input type="text" name="q1" id="q1-input">
                <button id="prev-btn" type="button">Previous</button>
                <button id="next-btn">Next</button>
            </div>
            <div class="question" id="q2">
                <h2>Educational Background (School and Degree if applicable)</h2>
                <input type="text" name="q2" id="q2-input">
                <button id="prev-btn" type="button">Previous</button>
                <button id="next-btn">Next</button>
            </div>
            <div class="question" id="q3">
                <h2>What is the field you are trying to/pursing </h2>
                <input type="text" name="q3" id="q3-input">
                <button id="prev-btn" type="button">Previous</button>
                <button id="next-btn">Next</button>
            </div>
            <div class="question" id="q4">
                <h2>How many years have you’ve been working in the industry</h2>
                <input type="text" name="q4" id="q4-input">
                <button id="prev-btn" type="button">Previous</button>
                <button id="next-btn">Next</button>
            </div>
            <div class="question" id="q5">
                <h2>How many interviews have you’ve completed?</h2>
                <input type="text" name="q5" id="q5-input">
                <button id="prev-btn" type="button">Previous</button>
                <button id="next-btn">Next</button>
            </div>
            <div class="question" id="q6">
                <h2>How many interviews have you’ve completed?</h2>
                <input type="text" name="q6" id="q6-input">
                <button id="prev-btn" type="button">Previous</button>
                <button id="next-btn">Next</button>
            </div>
            <div class="question" id="q7">
                <h2>How do you currently practice for interviews</h2>
                <input type="text" name="q7" id="q7-input">
                <button id="prev-btn" type="button">Previous</button>
                <button id="next-btn">Next</button>
            </div>
            <div class="question" id="q8">
                <h2>You're almost there. Select a password</h2>
                <input type="password" name="q8" id="q8-input">
                <br />
                <h3>Confirm Password</h3>
                <input type="password" name="q8" id="q8-input-confirm">
                <button id="prev-btn" type="button">Previous</button>
                <button id="next-btn">Submit</button>
            </div>
        </form>
    </div>
    <script type="text/javascript" th:src="@{/js/configure-account.js}"></script>
</body>

</html>