<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
  <body>
    <header>
      <div class="header">
        <div class="logo">
          <img src="logo.png" alt="Interqu" />
        </div>
        <div class="user-dropdown">
          <span>Welcome, <b> [[${user}]] </b></span>
          <div class="user-dropdown-content">
            <a href="/user/history">History</a>
            <a href="/user/performance">Performance</a>
            <a href="/user/settings">Settings</a>
            <a href="/logout">Logout</a>
          </div>
        </div>
      </div>
    </header>
  </body>
</html>
