<!DOCTYPE html>
<html
  xmlns="http://www.w3.org/1999/xhtml"
  xmlns:th="http://www.thymeleaf.org"
  lang="en"
>
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" th:href="@{/css/homepage.css}" />
    <link th:href="@{/img/darkbluelogo.svg}" rel="icon" />

    <link
      th:href="@{https://fonts.googleapis.com/css?family=Raleway}"
      rel="stylesheet"
    />

    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"
    />
    <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Roboto:wght@100;900&display=swap" rel="stylesheet">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <title>Interqu - Home</title>
  </head>

  <body class="color_theme">
    <div id="content">
    <div class="section " id="landing">
      <div id="navbar">
        <a href="/"><img th:src="@{/img/darkbluelogo.svg}" class="logo" /></a>
        <div id="navigation">
          <a href="how-it-works.html">How it works</a>
          <a href="about.html">About</a>
          <a href="team.html">Team</a>
      </div>
        <a href="/login"><button id="login">Login</button> </a>
      </div>
	  <div>
      <div id="content"></div>
    <div class="title">
      <h1 class="fade">
        Unleash your interviewing <a class="green glowing-text">success</a> <br/>with <a class="blue">AI-driven analysis.</a>
      </h1>
      <h2 class="fade">
        Use the latest facial and audio emotion recognition <br/> along with generative pretrained transformers to analyze your inteviews
      </h2>
   
    </div>
       <a  class="fade" href="/user/interview-selection" id="start-button"><button id="login">Start Practicing!</button></a>
    </div>
  </div>
  </body>
  <script>
    var fadeElements = document.getElementsByClassName("fade");
    for (var i = 0; i < fadeElements.length; i++) {
            setTimeout(function(i) {
                fadeElements[i].classList.add("active");
            }, 100*(i+1), i);
    };
  </script>
</html>
