<!DOCTYPE html>
<html
  xmlns="http://www.w3.org/1999/xhtml"
  xmlns:th="http://www.thymeleaf.org"
  lang="en"
>
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" th:href="@{/css/homepage.css}" />

    <link
      th:href="@{https://fonts.googleapis.com/css?family=Raleway}"
      rel="stylesheet"
    />

    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"
    />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <title>Interqu - Home</title>
  </head>

  <body class="" id="text_container">
    <div class="section color_theme" id="landing">
      <div id="navbar">
        <a href="/"><img th:src="@{/assets/images/Logo.svg}" class="logo" /></a>

        <a href="/login"><button id="login">Login</button> </a>
      </div>
	  <div>
		<h1>
		Interview Prep Revolutionized: <br/>Harness AI Insights for Interview Mastery
	</h1>
	</div>
  </body>
</html>
