<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Interview Practice</title>
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap"
      rel="stylesheet"
    />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.4/jquery.min.js"></script>
    <script th:inline="javascript">
      $(document).ajaxSend(function (event, xhr) {
        xhr.setRequestHeader(
          /*[[${_csrf.headerName}]]*/ "",
          /*[[${_csrf.token}]]*/ ""
        );
      });
    </script>
    <link th:href="@{/css/interview-selection.css}" rel="stylesheet" />
  </head>
  <body>
    <div id="container">
      <div id="title-container">
        <h1>Interqu Practice Interview Selection</h1>
      </div>
      <div class="selection-container">
        <div id="position-selection-container" class="select-container">
          <h2>Interview Position</h2>
          <select id="position" onchange="positionChange()">
            <option
              th:each="position : ${positions}"
              th:text="${position}"
              th:value="${position}"
            ></option>
          </select>
        </div>
        <div id="question" class="select-container">
          <h2>Interview Question</h2>
          <select id="questions" onchange="questionChange()"></select>
        </div>
      </div>
      <div class="review-container">
        <div class="box fade" id="1box">
          <h2><b>Position:&nbsp;</b><span id="position_review"></span></h2>
        </div>
        <div class="box fade" id="2box">
          <h2><b>Question:&nbsp;</b><span id="question_review"></span></h2>
        </div>
        <div class="small-tips box fade" id="3box">
          <div id="mention">
            <h2 class="green-text center"><b>Try to mention</b></h2>
            <ul id="objective-ul"></ul>
          </div>
          <div id="avoid">
            <h2 class="red-text center"><b>Try to avoid</b></h2>
            <ul id="avoid-ul"></ul>
          </div>
        </div>
        <div id="4box" class="box fade">
          <h2><b>How to answer:</b></h2>
          <span id="tipInfo"> </span>
        </div>
      </div>
      <div id="submit" class="fade">
        <button id="submitBtn" onclick="submit()">Practice!</button>
      </div>
    </div>
  </body>
  <script th:inline="javascript">
    var questions = /*[[${questions}]]*/ null;
    var posDoc = document.getElementById("questions");
    var displayQuestions = [];
    function getCurrentQuestionInfo() {
      var question_select = document.getElementById("questions");
      for (var i = 0; i < displayQuestions.length; i++) {
        if (displayQuestions[i].question == question_select.value) {
          console.log(displayQuestions[i]);
          return displayQuestions[i];
        }
      }
      return null;
    }
    positionChange();
    function positionChange() {
      posDoc.innerHTML = "";
      displayQuestions = [];
      var position_review = document.getElementById("position_review");
      position_review.innerHTML = document.getElementById("position").value;
      questions.forEach(function (question) {
        if (question.position == document.getElementById("position").value) {
          var option = document.createElement("option");
          displayQuestions.push(question);
          option.value = question.question;
          option.innerHTML = question.question;
          posDoc.append(option);
        }
      });
      questionChange();
    }
    questionChange();
    function questionChange() {
      var elements = document.getElementsByClassName("fade");
      for (let i = 0; i < elements.length; i++) {
        elements[i].classList.add("fade-element");
        elements[i].classList.remove("fade-in");
        elements[i].classList.add("fade-out");
      }
      var question_select = document.getElementById("questions");
      var question_title = document.getElementById("question_review");
      question_title.innerHTML = question_select.value;
      var info = getCurrentQuestionInfo();
      if (info != null) {
        var objective = document.getElementById("objective-ul");
        objective.innerHTML = "";
        for (var i = 0; i < info.positiveIndicators.length; i++) {
          var liObj = document.createElement("li");
          liObj.innerHTML = info.positiveIndicators[i];
          objective.append(liObj);
        }
        var avoid = document.getElementById("avoid-ul");
        avoid.innerHTML = "";
        for (var i = 0; i < info.negativeIndicators.length; i++) {
          var liObj = document.createElement("li");
          liObj.innerHTML = info.negativeIndicators[i];
          avoid.append(liObj);
        }
      }
      displayTips();
      animation();
    }

    function animation() {
      var elements = document.getElementsByClassName("fade");
      var delay = 50;

      for (let i = 0; i < elements.length; i++) {
        (function (index) {
          setTimeout(function () {
            elements[index].classList.remove("fade-out");
            elements[index].classList.add("fade-in");
          }, delay);
          delay += 75; // Adjust the delay time here (in milliseconds)
        })(i);
      }
    }

    function displayTips() {
      $.ajax({
        url: "/api/getInterviewTip",
        type: "POST",
        contentType: "application/json",
        data: JSON.stringify({
          questionId: getCurrentQuestionInfo().questionId,
        }),
        success: function (result) {
          document.getElementById("tipInfo").innerHTML = "";
          if (result.length == 0) {
            document.getElementById("tipInfo").innerHTML =
              "Data could not be found";
          }
          result.forEach(function (res) {
            var tip = document.createElement("li");
            tip.classList.add("spacer");
            tip.innerHTML = res;
            document.getElementById("tipInfo").append(tip);
          });
        },
        error: function (result) {
          document.getElementById("tipInfo").innerHTML =
            "Could not retrive Data.";
        },
      });
    }
    function submit() {
      window.location.href =
        "/user/interview/" + getCurrentQuestionInfo().questionId;
    }
  </script>
</html>
