<html xmlns:th="http://www.thymeleaf.org">
  <head>
    <title>Login</title>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link th:href="@{/css/login.css}" rel="stylesheet" />
  </head>

  <h2>Interqu Sign Up Form</h2>
  <div class="container" id="container" onchange="inputValid()">
    <div class="form-container sign-up-container">
      <form id="register-form" action="/waitlist" method="post" novalidate>
        <h1 class="spacer">Join waitlist</h1>
        <div class="field field_v2">
          <label for="name" class="ha-screen-reader">Name</label>
          <input
            type="text"
            id="name"
            class="field__input"
            placeholder="e.g. John Doe"
            required
          />
          <span class="field__label-wrap" aria-hidden="true">
            <span class="field__label">Name</span>
          </span>
        </div>
        <div class="field field_v2">
          <label for="email" class="ha-screen-reader">Email</label>
          <input
            id="email"
            class="field__input"
            placeholder="e.g. me@example.com"
            type="email"
            required
          />
          <span class="field__label-wrap" aria-hidden="true">
            <span class="field__label">Email</span>
          </span>
        </div>
        <div style="flex-direction: column" class="spacer dropdown">
          <label>Interview Skill Level:</label>
          <select name="skill_level" class="dropdown-content" id="skill_level">
            <option value="beginner">Beginner</option>
            <option value="proficient">Proficient</option>
            <option value="expert">Expert</option>
          </select>
        </div>
        <button type="submit">Join Waitlist</button>
      </form>
    </div>
    <div class="form-container sign-in-container">
      <form id="signIn-form" th:action="@{/login}" method="post" novalidate>
        <h1 class="spacer">Welcome Back!</h1>
        <div class="error" th:if="${param.error}">
          Invalid username or password.
        </div>
        <div th:if="${param.logout}">You have been logged out.</div>
        <div class="field field_v2">
          <label for="email" class="ha-screen-reader">Email</label>
          <input
            id="email-signup"
            class="field__input"
            placeholder="e.g. me@example.com"
            type="email"
            name="username"
            readonly
            onfocus="this.removeAttribute('readonly');"
            required
          />
          <span class="field__label-wrap" aria-hidden="true">
            <span class="field__label">Email</span>
          </span>
        </div>
        <div class="field field_v2">
          <label for="password" class="ha-screen-reader">Password</label>
          <input
            id="password"
            class="field__input"
            type="password"
            placeholder="**********"
            name="password"
            readonly
            onfocus="this.removeAttribute('readonly');"
            required
          />
          <span class="field__label-wrap" aria-hidden="true">
            <span class="field__label">Password</span>
          </span>
        </div>
        <a href="/forgot-password">Forgot your password?</a>
        <button type="submit">Sign In</button>
        <p>or</p>
        <!-- Temp -->
        <div class="row oauth">
          <div class="col-md-3">
            <a
              class="btn btn-outline-dark"
              href="/users/googleauth"
              role="button"
              style="text-transform: none"
            >
              <img
                width="20px"
                style="margin-bottom: 3px; margin-right: 5px"
                alt="Google sign-in"
                src="https://upload.wikimedia.org/wikipedia/commons/thumb/5/53/Google_%22G%22_Logo.svg/512px-Google_%22G%22_Logo.svg.png"
              />
              Login with Google
            </a>
          </div>
        </div>
      </form>
    </div>
    <div class="overlay-container">
      <div class="overlay">
        <div class="overlay-panel overlay-left">
          <h1>Already have an account?</h1>
          <p>Sign in using your personal information</p>
          <button class="ghost" id="signIn">Sign In</button>
        </div>
        <div class="overlay-panel overlay-right">
          <h1>Don't have an account?</h1>
          <p>Join our waitlist and start and mastering your interviews</p>
          <button class="ghost" id="signUp">Join waitlist</button>
        </div>
      </div>
    </div>
  </div>
  <script type="text/javascript" th:src="@{/js/login.js}"></script>
</html>
