<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="Content-Type" content="application/json; charset=UTF-8" />
    <title>Manual User Creation</title>
  </head>
  <body>
    <h1>Manual User Creation Tool</h1>
    <h2>An email will be sent to the specific user</h2>
    <form
      th:action="@{/api/admin/createPendingUser}"
      method="POST"
      th:object="${pendingUser}"
      enctype="application/json"
    >
      <label for="fname">First name:</label><br />
      <input
        type="text"
        id="fname"
        name="fname"
        th:field="*{firstName}"
      /><br />
      <label for="lname">Last name:</label><br />
      <input
        type="text"
        id="lname"
        name="lname"
        th:field="*{lastName}"
      /><br /><br />
      <label for="email">Email:</label><br />
      <input type="text" id="email" name="email" /><br />
      <label for="Role">Initial Role:</label><br />
      <select name="roles" id="roles" th:field="*{roles}">
        <option
          th:each="role : ${roles}"
          th:text="${role.name}"
          th:value="${role.name}"
        ></option>
      </select>
      <input type="submit" value="Submit" />
    </form>
    <h2 th:text="${error}"></h2>
    <h2 th:text="${message}"></h2>
  </body>
</html>
