<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Interqu - Performance</title>
    <link th:href="@{/css/performance.css}" rel="stylesheet" />
    <link th:href="@{/css/header.css}" rel="stylesheet" />
  </head>
  <body>
    <div id="container">
      <div th:include="header :: header"></div>
      <div class="title">
        <h1>Performance (last 30 days)</h1>
      </div>
      <div class="dashboard">
        <div class="section section1">Section 1</div>
        <div class="section section2">Section 2</div>
        <div class="section section3">Section 3</div>
        <div class="section section4">Section 4</div>
        <div class="section section5">Section 5</div>
        <div class="section section6">Section 6</div>
        <div class="section section7">Section 7</div>
        <div class="section section8">Section 8</div>
        <div class="section section9">Section 9</div>
      </div>
    </div>
  </body>
</html>
